@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gridCard {
  transform-origin: 0.75 left;
}
.gridCard:hover {
  transform: scale(1.5);
  transition-duration: 0.25s;
  z-index: 2;
}
