@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pulsingAnimation {
  opacity: 0;
  animation: blinking 2s linear infinite;
}

.is-active {
  color: #61dafb !important;
}
.gridCard {
  transform-origin: 0.75 left;
}
.gridCard:hover {
  transform: scale(1.5);
  transition-duration: 0.25s;
  z-index: 2;
}
iframe {
  display: none;
}
